<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Express + EJS sample2</title>
</head>

<body>
    <a href="/">/</a>
    <a href="/?name=hoge&age=20">GET</a>
    <form action="/" method="POST">
        <button>POST</button>
        <input type="rext" name="name" value="fuga">
        <input type="text" name="age" value="30">
    </form>
</body>

</html>